@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

@font-face {
	font-family: Arkitech;
	src: url('font/Arkitech.ttf') format('truetype');
}


* {
    font-family: 'Open Sans';
    box-sizing: border-box !important;
    color: #111;
}

html, body {
    min-height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-weight: 300;
    font-size: 12px;
    padding: 6px 0px;
    border-top: 1px solid rgba(255,255,255,0.2);
    background-color: #111111;
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    z-index: 30;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

header {
    position: fixed;
    width: 100%;
    background-color: #111111;
    color: #f1f1f1;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 2px solid #ffffff4b;
    z-index: 30;
}

header h1 {
    font-family: 'Arkitech';
    text-align: left;
    font-size: 16px;
    margin-left: 15px;
}

nav {
    margin-left: auto;
    margin-right: 0;
}

nav ul {
    padding: 0px;
}

.nav-btn {
    display: inline-block;
}

.nav-btn a {
    padding: 15px;
    text-decoration: none;
    color: #f1f1f1;
    margin: 0px 5px;
}

.nav-btn a:hover {
    background-color: rgba(255,255,255,0.2);
}

main {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    flex: auto;
    align-content: flex-start;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #9e9e9e;
}

.image-bg-container {
    background-size: cover;
    background-position: 50% 100%;
    min-height: 250px;
    height: 30vh;
    box-shadow: 0px 0px 5px #9e9e9e;
}

.intro-banner {
    height: 60vh !important;
}

#img01 {
    /*background-image: url("img/01.png");*/
    background-color: rgba(0,0,0,0.5);
}
#img02 {
    /*background-image: url("img/02.jpg");*/
	background-color: rgba(0,0,0,0.5);
}
}

.text-container {
    height: 100%;
    max-width: 600px;
    text-align: justify;
    font-size: 1rem;
    background-color: #111111d2;
    display: flex;
    align-items: center;
    padding: 50px;
}

.text-container div {
    transform: translateY(25px);
}

.text-container-right {
    margin-right: 6%;
    float: right;
    text-align: right;
}

.text-container-left {
    margin-left: 6%;
    float: left;
    text-align: left;
}

.image-bg-container * {
    color: #f1f1f1;
}

.test {
    border: 2px dotted red;
}

.bar {
    width: 100%;
    height: 50vh;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.image {
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
}

#intro-text {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: justify;
    /* border: 1px dotted #c7c7c7; */
    width: 60%;
}

#svg-icon {
    height: 18px;
    float: center;
    padding: 0px 15px;
}

.module {
    min-height: 100vh !important;
    max-height: 100vh !important;
    height: 100vh !important;
}

#sign-form {
    color: #111111;
    width: 500px;
    margin-top: 10vh;
    margin-left: 40px;
    margin-right: auto;
}

select, input {
    color: #111111;
    width: 100%;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-size: 0.9rem;
    height: 4vh;
    padding-left: 10px !important;
}

select:focus, input:focus {
    outline: none;
    border: 1px solid rgba(96, 59, 230, 0.445);
    box-shadow: 0px 0px 4px rgba(96, 59, 230, 0.445);
}

select option {
    color: #111111;
}

input::placeholder {
    font-size: 0.7rem;
    color: #7a7a7a;
    font-style: italic;
}

label {
    color: #111111;
    font-size: 0.8rem;
}
form p {
    
    font-size: 0.7rem;
    color: #505050;
    font-style: italic;
}

#course-list-container {
    width: 40%;
}

#course-list {
    list-style: none;
}

#course-list li {
    line-height: 3;
    padding: 0px 10px;
}

#course-list li:hover {
    color: tomato;
    cursor: pointer;
}

#course-description {
    width: 60%;
    padding: 30px 30px;
    margin: 0px 30px;
    text-align: justify;
    height: 100%;
}

#courses {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    height: 100%;
}

.list-active {
    color: tomato;
    background-color: #3f3f3f11;
    border: 1px dotted #11111133;
    /* box-shadow: 0px 0px 16px #5a5a5a28; */
}

.course-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.course-menu li {
    color: #616161;
    margin: 0px 20px;
    padding: 10px;
    font-weight: 200;
    font-size: 0.8rem;
}

.course-menu li:hover {
    color: #cc3030;
    cursor: pointer;
}

.desc-active {
    border-bottom: 2px solid #cf5555;
}
